version: '3.2'

services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    depends_on:
      - mongo
    volumes:
      - ./api:/api:rw,cached
      - /api/node_modules
    restart: always
    ports:
      - "8000:8000"
    command: "npm run serve"
    environment:
      - CHOKIDAR_USEPOLLING=true
  auth:
    build:
      context: ./auth
      dockerfile: Dockerfile
    depends_on:
      - mongo
    volumes:
      - ./auth:/auth:rw,cached
      - /auth/node_modules
    restart: always
    ports:
      - "7000:7000"
      - "7001:7001"
    command: "npm run serve"
    environment:
      - CHOKIDAR_USEPOLLING=true

  client:
    build:
      context: ./client
    volumes:
      - ./client:/client:rw,cached
      - /client/node_modules
    depends_on:
      - api
    restart: always
    ports:
      - "3000:3000"
      - "3001:3001"
    stdin_open: true
    command: "npm start"
    environment:
      - CHOKIDAR_USEPOLLING=true

  mongo:
    container_name: omm_mongo
    image: mongo
    ports:
      - '27017:27017'