.holder{
    position:relative;   
    padding: '10px';
    top: 10%;
    left: 10%;
    min-height: 100px;
}

.block{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    background:rgba(255,255,255, 0.7);
    text-align: center;
    padding:5px;
    display: none;
}

.holder:hover .block{
    display:block;
}

.root {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-rows: repeat(2, 100px);
}
