.title {
    font-family: cursive;
    text-align: center;
}

#name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.img {
    height: 50%;
    width: 50%;
}

#Description, #Address, #Creator {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 2%;
}