.title {
    font-family: cursive;
    text-align: center;
}
#name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}
.img {
    height: 50%;
    width: 50%;
}
#description {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px ;
    margin: 2%;
}

#address {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px ;
}

#creator {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#date {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}